//color libraries
$green-1: #209850;
$green-2: #2ac769;
$green-3: #bcffd7;

$orange-1: #cb8600;
$orange-2: #f6a609;
$orange-3: #ffde9e;

$red-1: #f41717;
$red-2: #fb4e4e;
$red-3: #ffbcbc;

$black-1: #25282b;
$black-2: #52575c;
$black-3: #a0a4a8;

$grey-1: #cacccf;
$grey-2: #e8e8e8;
$grey-3: #e8e8e8;

$blue-1: #005dc7;
$blue-2: #1682fc;
$blue-3: #b3d6ff;
